<div class="tabular settings">
	<p>
		<% ActionController::Routing::Routes.reload! %>
		<label><%= l(:label_single_landing_page)%></label> 
		<%= select_tag("settings[single_landing_page]", options_for_select([['repository', 'repository'], ['wiki', 'wiki']], @settings['single_landing_page'])) %>
		<br />
	</p>
</div>
